{% extends "base.html" %} 
 {%block title%}
 Home
 {%endblock title%}

  {%block content%}
  <!-- navbar -->

<!-- hero section -->
<section class="px-4 md:px-8 mt-12 md:mt-16">
   <div class="relative max-w-7xl mx-auto">
      <div class="max-w-4xl mx-auto text-center">
         <div
            class="inline-flex bg-gray-50 border border-slate-100 rounded-lg px-2.5 py-1.5 mb-4 dark:bg-neutral-800 dark:border-neutral-700">
            <span class="text-[13px] text-slate-900 dark:text-slate-50">
               Your Ultimate Productivity Companion
            </span>
         </div>

         <h1 class="text-4xl text-slate-900 font-bold !leading-tight mb-6 md:text-5xl lg:text-6xl dark:text-slate-50">
            Boost Your Productivity with <span class="text-blue-700 dark:text-blue-500">EffortlessTask</span>
         </h1>
         <p class="text-slate-600 text-lg leading-relaxed dark:text-slate-400">
            The all-in-one app to finally master your workflow. Organize tasks effortlessly, focus without
            distractions,
            and accomplish more every day—just like 100,000+ professionals.
         </p>

         <div class="mt-8 flex items-center justify-center flex-wrap gap-4">
            <a href="#"
               class="py-2.5 px-4 text-sm rounded-md font-semibold text-white border border-blue-600 bg-blue-600 hover:bg-blue-700 transition-all focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500">
               Start Free Trial
            </a>
            <a href="#"
               class="py-2.5 px-4 text-slate-900 text-sm font-semibold rounded-md bg-white border border-slate-300 transition-colors hover:bg-gray-50 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:text-slate-50 dark:hover:bg-neutral-700">
               How It Works
            </a>
         </div>
      </div>

      <div class="max-w-6xl w-full mx-auto mt-16 md:mt-20">
         <img src="https://readymadeui.com/images/ai-dashboard.webp" class="w-full" alt="kpi image" />
      </div>
   </div>
</section>
  {%endblock content%}