<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/knn.css' %}">
  <title>KNN</title>
</head>
<body>
  <table width = 600 border  = "2px" align = "center">
    <tr class="thead">
      <th>Names</th>
      <th>ID</th>
      <th>Deparment</th>
    </tr>
     <tr align = "center" class="hij">
      <td>Md. Taher Bin Omar Hijbullah</td>
      <td>22303142</td>
      <td>BCSE</td>
    </tr>
    </tr>
     <tr align = "center" class="masud">
      <td>Md. Masud Rana</td>
      <td>22303104</td>
      <td>BCSE</td>
    </tr>
  </table>
</body>
</html>