<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RN</title>
</head>
<body>
 <form action="">
  <input type="text" name = "" id = "" placeholder = "Enter Your Name">
  <br><br>
  <input type="text" name = "" id = "" placeholder = "Enter Your Email">
  <br><br>
  <input type="text" name = "" id = "" placeholder = "Enter Your Password">
  <br><br>
  <input type="radio" name = "gender" id = "">Male 
  <input type="radio" name = "gender" id = "">Female
  <input type="radio" name = "gender" id = "">Third Gender
  <br><br>
  <input type="Checkbox" name = "" id = ""> ML <br>
  <input type="Checkbox" name = "" id = ""> DL <br>
  <input type="Checkbox" name = "" id = ""> DA <br>
  <input type="Checkbox" name = "" id = ""> MJ <br>
  <input type="file" name = "" id = ""><br>
  <input type="datetime-local" name = "" id = ""><br>
  <input type="submit" value = "Submit"> <br>
  <input type="reset" value = "Reset">

 </form>
</body>
</html>