<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel = "stylesheet" href="{% static 'css/analyze.css' %}">
    <title>Document</title>
  </head>
  <style>
    h6{
      color: black;
    }
  </style>

  <body>
      This is
      <mark>
        <b>data <i>analysis</i></b></mark>
      <small><!-- <del>platform</del>--><ins>place</ins></small>
      <div class="font">
        <p>(a+b)<sup>2</sup></p>
        <p>(a+b)<sub>2</sub></p>
        <p><abbr title="Hijbullah">hi</abbr></p>
      </div>
    <pre id = "hello">
      hello
                                    Dj 
                Hijbullah
    </pre>
    <p>Md. Taher Bin Omar <span style = "color : blue;">Hijbullah</span></p>
    <h1>Hijbullah</h1>
  </body>
</html>
