*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.margine{
  height: 500px;
  width: 500px;
  border: 5px solid blue;
  margin: 100px 50px 30px 20px;
}
.padding{
  height: 300px;
  width: 300px;
  border: 5px solid red;
  margin: 50px 40px 30px 20px;
  padding: 50px 60px 20px 50px;
}
.border{
  height: 200px;
  width: 200px;
  border: 5px solid rgb(43, 255, 0);
  border-top-color: rgb(12, 12, 12);
  border-right-color: rgb(255, 11, 64);
  margin-left: 100px ;
  border-radius: 100px;
}